body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #292b2c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
 /* Cor da logo */
}

h1{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 0.5rem;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.buttons button {
    background-color: #00d1b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 20%; /* A imagem ocupará no máximo 100% da largura do elemento pai */
    border-radius: 1.5rem;
}





section .button-pesquisa:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 40vh; /* Altura máxima da caixa de resultados */
    overflow-y:hidden; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 7rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    ;
}



